<a href="https://colab.research.google.com/github/MJaiman/Business_Quant_Internship/blob/main/Business_Quant_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import numpy as np
import pandas as pd

In [65]:
df=pd.read_csv('/content/Assignment-Business-Quant.csv')

In [66]:
df.head(5)

  Category   Item  Year  Sales  Sales Growth %
0    Fruit  Apple  2015     90             NaN
1    Fruit  Apple  2016     41             NaN
2    Fruit  Apple  2017     71             NaN
3    Fruit  Apple  2018     59             NaN
4    Fruit  Apple  2019     41             NaN

In [67]:
#Identify last year’s sales for each item and save the values in a new column called “Sales Last Year”
df = df.sort_values(['Item','Year']).reset_index()
df.loc[0,'Sales Last Year'] = np.nan
for i in range(1,df.shape[0]):
    if df.loc[i,'Item']==df.loc[i-1,'Item']:
        df.loc[i,'Sales Last Year'] = df.loc[i-1,'Sales']
    else:
        df.loc[i,'Sales Last Year'] = np.nan

In [68]:
df = df[['Item','Year','Sales','Sales Last Year','Sales Growth %']]

In [69]:
df.head()

        Item  Year  Sales  Sales Last Year  Sales Growth %
0  Aloe Vera  2010     27              NaN             NaN
1  Aloe Vera  2011     31             27.0             NaN
2  Aloe Vera  2012     99             31.0             NaN
3  Aloe Vera  2013     10             99.0             NaN
4  Aloe Vera  2014     60             10.0             NaN

In [ ]:
#calculate sales growth for all the items and save the values in a new column titled “Sales Growth”.
df['Sales Growth %'] = df['Sales']/df['Sales Last Year']-1
for i in range(len(df['Sales Growth %'])):
  x=df['Sales Growth %'][i]
  x=str('%.1f'%(x*100))+'%'
  df['Sales Growth %'][i]=x

df['Sales Growth %']

In [71]:
df.head()

        Item  Year  Sales  Sales Last Year Sales Growth %
0  Aloe Vera  2010     27              NaN           nan%
1  Aloe Vera  2011     31             27.0          14.8%
2  Aloe Vera  2012     99             31.0         219.4%
3  Aloe Vera  2013     10             99.0         -89.9%
4  Aloe Vera  2014     60             10.0         500.0%

In [72]:
df = df.replace(np.nan, '', regex=True)
df = df.replace('nan%','',regex=True)

In [73]:
df.head(10)

        Item  Year  Sales Sales Last Year Sales Growth %
0  Aloe Vera  2010     27
1  Aloe Vera  2011     31            27.0          14.8%
2  Aloe Vera  2012     99            31.0         219.4%
3  Aloe Vera  2013     10            99.0         -89.9%
4  Aloe Vera  2014     60            10.0         500.0%
5  Aloe Vera  2015     31            60.0         -48.3%
6  Aloe Vera  2016     90            31.0         190.3%
7  Aloe Vera  2017     87            90.0          -3.3%
8  Aloe Vera  2018     30            87.0         -65.5%
9  Aloe Vera  2019     43            30.0          43.3%